/**
 * The Light Bulb Stylesheet
 * @author:  Mahdi Abdurrahman
 * @date:  24 March 2018
 * @version:  1.0.0.0
 */
* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}
body {
  text-align: center;
  font-family: arial;
  font-size: 2.5rem;
}
.wrapper {
   display: block;
   margin: 20px auto;
   width: 55%;
}
p {
	padding-top: 50px;
}
img {
   display: block;
   margin: 20px auto;
   width: 40%;
}


/*********************MEDIA QUERIES**********************/

/* ----------- iPhone 4, 5, 5S ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
     .wrapper {
   display: block;
   margin: 20px auto;
   width: 60%;
}
    .wrapper p {
        font-size: 1.25rem;
    }
}

/* ----------- iPhone 6, 6S, 7, 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
    .wrapper {
        display: block;
        margin: 20px auto;
        width: 60%;
    }

    .wrapper p {
        font-size: 1.50rem;
    }

}
